* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.meal-image {
	width: 300px;
	margin: 15px;
	border: 4px #fff solid;
	border-radius: 5%;
}

.recipe-info {
	position: relative;
}

.modal {
	position: absolute;
	background: rgba(0, 0, 0, 0.7);

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal__body {
	background: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
